@font-face {
    font-family: Montsterrat;
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

.block_1 {
    width: 500px;
    height: 100px;

    background-color: blueviolet;
}

.zagol_1 {
    color: #04f7ff;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

.zagol_2 {
    color: #006403;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:line-through;
}

.zagol_3 {
    color: #a70c2d;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: overline;
}

.zagol_4 {
    color: #04f7ff;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 4px#000000;
}

.zagol_5 {
    color: #76800a;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.zagol_6 {
    color: #6e0a78;
    font-size: 80px;
    font-family: Montsterrat;
    font-style: italic;
}

